:root {
  --cor-de-fundo: hwb(225 0% 95%) 0% 95%);
  --cor-primaria: #ffffff;
  --cor-secundaria: #c0c0c0;
  --cor-terciaria: #167bf7;
  --fonte-principal: "Inter";
  --efeito-botao:#4682B4;
}

* {
  margin: 0;
  padding: 0;
  background-color: #00030c;
  color: var(--cor-primaria);
}

body {
  background-color: dvar(--cor-de-funo);
  color: var(--cor-primaria);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url(./img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  border-radius: 5px;
  padding: 1em;
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--cor-primaria);
}

.container__aviso {
  font-size: 12px;
  color: var(--cor-secundaria);
  background: none;
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
  background: none;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__caixa {
  margin: 0 6em;
  background: none;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 47px;
  color: var(--cor-primaria);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--cor-secundaria);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 2em;
}

.dispositivo__lista{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.dispositivos{
  text-align: center;
}

.dispositivos__titulo{
  font-size: 48px;
  color: var(--cor-primaria);
}

.lista__item{
  font-size: 32px;
  color: var(--cor-primaria);
  margin-bottom: 1.5em;
}

.rodape__lista{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 3em;
}

.lista__link a{
  text-decoration: none;
  color: var(--cor-primaria);
  margin-left: 1em;
}

.rodape__texto{
  margin: 1em 0;
  color: var(--cor-primaria);
  font-size: 14px;
}

.rodape{
  text-align: center;
  margin: 5em 3em;
}

.lista__link a:hover{
  color: var(--cor-terciaria);
}

.lista__link a:active{
  color: var(--cor-secundaria);
}

.container__botao:hover{
  background-color: var(--efeito-botao);
  color: var(--cor-de-fundo);
}